body {
    font-family: sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    color: #333;
}
#app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
header {
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 2.2em; /* Amigable y Grande */
    color: #007bff;
    margin-bottom: 5px;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
h2 {
    font-size: 1.5em;
    color: #007bff;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
    margin-top: 0;
}
.content-box p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 8px 0;
}
/* Estilo Específico de la Alarma de Contacto */
.alerta-contacto {
    background-color: #fff3cd; /* Fondo Amarillo Suave */
    border: 2px solid #ffc107; /* Borde Naranja/Amarillo */
    text-align: center;
    padding: 30px 20px;
}
.big-text {
    font-size: 1.5em;
    color: #dc3545; /* Rojo para la Acción */
    font-weight: bold;
    margin: 5px 0;
}
.big-date {
    font-size: 2em; /* Fecha muy visible */
    color: #007bff;
    margin: 10px 0;
}
.instruction-note {
    font-size: 0.9em;
    color: #6c757d;
}